body {
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
    background-color: #f5f9fb;
    color: #333;
}

header {
    background: #111;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img.logo {
height: 80px;
}
        
nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}
        
nav a:hover {
    background-color: #00adb5;
}
        
.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
}
        
h1, h2 {
    color: #222;
}
        
.intro {
    text-align: center;
    margin-bottom: 50px;
}
        
.destinasi, .paket {
    margin-bottom: 40px;
}
        
.destinasi-item {
    margin-bottom: 30px;
}
    
.destinasi-item img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
        
.paket-list {
    list-style: none;
    padding: 0;
}
        
.paket-list li {
    background: white;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    padding: 15px 20px;
}
        
.paket-list strong {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #00adb5;
}
        
.rafting-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
        
.rafting-gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
        
form {
    max-width: 500px;
    margin: 0 auto 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
        
form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
}
        
form button {
    background: #00adb5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}
        
form button:hover {
    background: #111;
}
        
footer {
    background-color: #111;
    text-align: center;
    padding: 40px 20px;
}

.footer-logo img {
    width: 140px;
    margin-bottom: 15px;
}

.footer-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-address {
    line-height: 1.6;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 25px;
}

.footer-address a {
    color: #4ea5ff;
    text-decoration: none;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.social-icon {
  width: 2cm;
  height: 2cm;
}

.footer-copy {
    margin-top: 30px;
    font-size: 13px;
    color: #888;
}